.general-links,
.links-links,
.banners-links {
  background-color: $color-light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: $font-text;

  .links .links-inner {
    justify-content: center;

    .links-table-inner {
      height: 57px;
      font-size: $font-size-gamma;
      font-weight: $weight-bold;
      line-height: 57px;
      letter-spacing: 0px;
      color: $color-text-alpha;
      border-bottom: $border-style;
      transition: $transition;

      a {
        font-weight: $weight-light;
        color: $color-graph-beta;
        text-decoration: none;

        &:hover {
          color: $color-graph-alpha;
        }
      }
    }
  }
}

div:not(.links-table-inner) + .links-table-inner {
  border-top: $border-style;
}

.links-table-inner:hover {
  opacity: 1;
  background-color: $color-background;
}

.links-table-inner .icon-links,
.links-table-inner .icon-trash {
  opacity: 0;
  color: $color-text-beta;
  transition: $transition;
}

.links-table-inner:hover .icon-links,
.links-table-inner:hover .icon-trash {
  opacity: 1;
}

.links-table-inner .icon-links:hover,
.links-table-inner .icon-trash:hover {
  color: $color-graph-alpha;
}

@media (max-width: 768px) {
  .general-links .links .links-inner .links-table-inner,
  .links-links .links .links-inner .links-table-inner,
  .banners-links .links .links-inner .links-table-inner {
    font-size: $font-size-delta;
    height: 114px;

    .col-4,
    .col-6 {
      padding: 0;
      flex: 0 0 100%;
      max-width: 100%;
      height: 30px;
    }

    .icon-links,
    .icon-trash {
      opacity: 1;
    }

    .col-1:nth-of-type(3) {
      padding-left: 0;
    }
  }
}

@media (max-width: 1024px) {
  .general-links .links .links-inner .links-table-inner,
  .links-links .links .links-inner .links-table-inner,
  .banners-links .links .links-inner .links-table-inner {
    .icon-links,
    .icon-trash {
      opacity: 1;
    }
  }
}
