.general-statistic {
  background-color: $color-light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 18px 18px;
  font-family: $font-text;
}

.general-statistic .col-12 {
  padding: 0;
}

/* date */
.date {
  border-bottom: $border-style;
}

.date .row {
  justify-content: center;
}

.calendar {
  height: 42px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 0;
  border: $border-style;
  border-radius: 3px;
  color: $color-text-beta;
}

.calendar .form-group {
  height: 42px;
  align-items: center;
  justify-content: space-around;
}

.calendar .form-group input {
  border: none;
  padding: 10px 0;
  width: 150px;
}

.startDate {
  padding-left: 10px;
}

.endDate .icon-calendar {
  padding-right: 10px;
}

.calendar .form-group .form-part {
  width: 1px;
  height: 30px;
  background-color: $color-border;
}

.bootstrap-datetimepicker-widget {
  display: none;
}

.picker-open {
  background-color: $color-light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* chart */
.chart .row {
  justify-content: center;
}

.first-column,
.second-column,
.third-column {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 30px;
  padding-right: 30px;
}

.table-inner {
  height: 42px;
  font-size: $font-size-gamma;
  font-family: $font-text;
  font-weight: $weight-bold;
  line-height: 42px;
  letter-spacing: 0;
  color: $color-text-alpha;
  border-bottom: $border-style;
}

.table-inner span {
  float: right;
  font-weight: $weight-light;
  color: $color-text-gamma;
}

.third-column h2 {
  font-size: $font-size-gamma;
  font-weight: $weight-bold;
  line-height: 42px;
  letter-spacing: 0;
  color: $color-text-alpha;
}

.table img {
  margin-bottom: 55px;
}
