.chat-avatar {
  border-bottom: $border-style;
  text-align: left;
  padding: 15px;
  .user-status {
    padding-left: 18px;
    padding-top: 10px;
    .user-name {
      font-size: 28px;
    }
  }
}

.chat-message {
  text-align: left;
  border-bottom: $border-style;
  padding-bottom: 100px;
  font-size: $font-size-delta;
  font-weight: $weight-regular;

  .message-1 {
    background-color: $color-background;
    margin: 15px;
    border-radius: 3px;
    width: max-content;
  }
  .message-2 {
    color: $color-light;
    background-color: $color-text-beta;
    margin: 15px;
    border-radius: 3px;
    width: max-content;
  }
  .message-their,
  .message-me {
    padding: 10px;
  }
}
