.addurl-inputs {
  padding-bottom: 36px;
  border-bottom: $border-style;
}

.addurl-info {
  padding-left: 15px;
}

.addurl-checkbox {
  border-bottom: $border-style;
}

.addurl-generation #generated_link {
  margin-top: 30px;
}

.addurl-generation .addurl-buttons {
  justify-content: flex-end;

  .btn {
    margin-bottom: 0;

    .icon-links {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}
