.personal_data-form {
  background-color: $color-light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: $font-text;
  .lane {
    border-bottom: $border-style;
  }
  .field-submit {
    text-align: center;
  }
  .field {
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: $font-size-gamma;
    .personal-label {
      width: 150px;
      height: 40px;
      line-height: 42px;
      text-align: left;
      margin: 10px 0;
      padding-left: 10px;
      font-weight: $weight-bold;
      color: $color-text-alpha;
    }
    .personal-input {
      justify-content: space-around;
      padding-left: 20px;
      border: $border-style;
      border-radius: 3px;
      width: 450px;
      height: 40px;
      margin: 10px 0;
    }
  }
}

@media (max-width: 768px) {
  .personal_data-form .field {
    font-size: $font-size-delta;
    .personal-label {
      padding-left: 0;
      margin-bottom: 0;
      text-align: center;
    }
    .personal-input {
      margin-top: 0;
      width: 451px;
    }
  }
}
