
.sidebar {
  height: 100%;
  width: 250px;
  background-color: $color-background-sidebar-alpha;
  color: $color-light;
  position: fixed;
  z-index: 2;
  transition: $transition;
  top: 0;
}

.sidebar.toggled {
  width: 60px;
  transition: $transition;
}

/* MENU */

.sidebar .menu {
  margin-bottom: 18px;
  padding: 0;
  border-bottom: 1px solid $color-text-gamma;
}

.sidebar .menu .menu-logo-hamburger {
  height: 60px;
  overflow: hidden;

  .logo {
    padding-left: 5px;
    padding-top: 20px;
  }

  .hamburger {
    display: block;
    padding-top: 13px;
    float: right;
    opacity: 0.6;
    transition: $transition;

    &:hover {
      opacity: 1;
    }

    .menu-ham {
      width: 30px;
      height: 2px;
      background-color: $color-light;
      margin: 7px 0;
    }
  }
}

.sidebar .menu .menu-subpages {
  padding: 0;

  ul {
    font-weight: $weight-light;
    font-size: $font-size-gamma;
    letter-spacing: 0;
    line-height: 42px;
    list-style-type: none;
    padding: 0;

    li a {
      display: block;
      margin: 5px 0;
      color: $color-text-delta;
      text-decoration: none;

      &:hover {
        color: $color-light;
        background-color: $color-background-sidebar-beta;
        border-left: 4px solid $color-graph-alpha;
      }

      span {
        padding-left: 20px;
      }
    }
  }
}

.sidebar .menu .menu-subpages ul li .menu-link.active {
  color: $color-light;
  background-color: $color-background-sidebar-beta;
  border-left: 4px solid $color-graph-alpha;
}

.menu-subpages [class*="icon-"] {
  vertical-align: middle;
}

.toggled .menu-subpages-title,
.toggled .menu-logo,
.toggled .users-title,
.toggled .user-name,
.toggled .bottom-sidebar {
  display: none;
}

.toggled .users-photo {
  margin-left: -13px;
  transition: $transition;
}

/* USERS */

.sidebar .users {
  padding: 0;

  .users-title h3 {
    padding-left: 5px;
    font-size: $font-size-gamma;
    font-weight: $weight-medium;
    line-height: 42px;
    color: $color-text-beta;
    text-transform: uppercase;
  }

  .users-photo {
    position: relative;

    .dot {
      position: absolute;
      background-color: $color-graph-gamma;
      border-radius: 50%;
      left: 53px;
      height: 12px;
      width: 12px;
    }

    img {
      padding-left: 5px;
      height: 45px;
    }

    a {
      display: block;
      margin: 5px 0;
      text-decoration: none;
      font-size: $font-size-delta;
      font-weight: $weight-light;
      letter-spacing: 0;
      color: $color-graph-beta;

      &:hover {
        color: $color-graph-alpha;
      }

      .user-name {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 10px;
      }
    }
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 100vw;
  }
}

@media (max-height: 576px) {
  .sidebar .menu .menu-subpages ul {
    line-height: 20px;
    margin-top: 0;
  }

  .sidebar .users .users-title {
    display: none;
  }
}
/*MOJE ZMIANY*/

/* profile */

.profile-sidebar {
  font-size: $font-size-epsilon;
  color: $color-text-beta;
  font-weight: $weight-light;
  padding-top: 11px;
  padding-bottom: 5px;
}

.icon-profile:before {
  content: "\0056";
  font-size: $font-size-gamma;
  color: $color-text-beta;
  margin-right: 15px;
}

/* quit */

.quit {
  padding-top: 21px;
  padding-bottom: 15px;
}

.icon-quit:before {
  content: "\0057";
  font-size: $font-size-gamma;
  color: $color-text-beta;
}

@media (max-width: 768px) {
  .topbar ul li a {
    padding-bottom: 0;
    padding-top: 0;
  }

  .notification .dot {
    top: 10px;
    height: 7px;
    width: 7px;
  }

  .icon-notification:before,
  .icon-profile:before,
  .icon-quit:before,
  .icon-wallet:before {
    font-size: $font-size-beta;
  }

  .dropdown .dropdown-content {
    min-width: 153px;

    a {
      line-height: 25px;
    }
  }

  li .dropbtn,
  .dropdown-content {
    font-size: $font-size-beta;
  }

  .icon-profile:before {
    margin-right: 10px;
  }
}

@media (max-width: 520px) {
  .profile-name {
    display: none;
  }

  .icon-profile:before {
    margin-right: 0;
  }
}

@media (max-width: 410px) {
  .topbar ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .notification .dot {
    right: 10px;
  }
}

@media (max-width: 800px) {
  .topbar {
    display: none;
  }
}

.bottom-sidebar {
  display: block;
  padding: 20px 10px 0 10px;
}

@media (min-width: 800px) {
  .bottom-sidebar {
    display: none;
  }
}

.main-bottom-nav-container {
  width: 100%;
  border: 1px solid #ffffff;
}

.main-bottom-nav-container-first-row {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ffffff;
}

.main-wallet-container:hover,
.main-notification-container:hover,
.main-personaldata-container:hover,
.main-quit-container:hover {
  background-color: #3e3e3e;
}

.main-wallet-container {
  width: 75%;
  float: left;
}

.main-wallet-first {
  float: left;
  text-align: center;
  height: 59px;
  width: 25%;
  padding: 15px 0 0 38px;
}

.main-wallet-second {
  float: left;
  text-align: center;
  width: 50%;
  height: 59px;
}

.main-wallet-third {
  float: left;
  width: 25%;
  height: 59px;
  padding-top: 15px;
}

p.main-text-wallet {
  font-size: 16px;
  color: #ffffff;
}

.main-notification-container {
  width: 25%;
  height: 59px;
  float: left;
  border-left: 1px solid #ffffff;
  position: relative;
  padding: 15px 0 0 40px;
}

i.second.icon-circle {
  color: #f58220;
  line-height: 1.9;
  font-size: 9px;
  position: absolute;
  top: 28%;
  left: 44%;
}

.main-bottom-nav-container-second-row {
  width: 100%;
  height: 60px;
}

.main-personaldata-container {
  width: 75%;
  float: left;
}

.main-personaldata {
  float: left;
  text-align: center;
  height: 59px;
  width: 30%;
  padding: 15px 0 0 15px;
}

.main-person {
  float: left;
  display: table-cell;
  vertical-align: middle;
  padding-top: 15px;
  width: 70%;
  text-align: left;
  color: #ffffff;
}

.main-quit-container {
  width: 25%;
  float: left;
  height: 59px;
  border-left: 1px solid #ffffff;
  padding: 15px 0 0 40px;
}

