.topbar {
  background-color: $color-light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: right;
      border-left: $border-style;
    }
  }
}

.topbar ul li a {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  line-height: 42px;
  transition: $transition;

  &:hover,
  .dropdown:hover .dropbtn {
    background-color: $color-background;
  }
}

/* dropdown */

.dropdown {
  a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $color-light;
    min-width: 184px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: $font-size-alpha;
    color: $color-text-beta;
    font-weight: $weight-regular;

    a {
      color: $color-text-beta;
      text-decoration: none;
      display: block;
      text-align: left;
      line-height: 42px;
      padding: 0 0 0 20px;
      border-bottom: $border-style;

      &:hover {
        background-color: $color-background;
      }
    }
  }

  .dropbtn {
    font-size: $font-size-alpha;
    color: $color-text-beta;
    font-weight: $weight-regular;
  }
}

.dropdown:hover .dropdown-content {
  display: grid;
}

.icon-wallet:before {
  content: "\0062";
  font-size: $font-size-gamma;
  margin-right: 15px;
}

.icon-arrow-down:before {
  content: "\0041";
  font-size: $font-size-eta;
  margin-left: 15px;
}

/* notification */

.notification {
  position: relative;
  padding-top: 11px;
  padding-bottom: 5px;

  .dot {
    position: absolute;
    background-color: $color-graph-alpha;
    border-radius: 50%;
    top: 18px;
    right: 18px;
    height: 8px;
    width: 8px;
  }
}

.icon-notification:before {
  content: "\0050";
  font-size: $font-size-gamma;
  color: $color-text-beta;
}

/* profile */

.profile {
  font-size: $font-size-epsilon;
  color: $color-graph-beta;
  font-weight: $weight-light;
  padding-top: 11px;
  padding-bottom: 5px;
}

.icon-profile:before {
  content: "\0056";
  font-size: $font-size-gamma;
  color: $color-text-beta;
  margin-right: 15px;
}

/* quit */

.quit {
  padding-top: 11px;
  padding-bottom: 5px;
}

.icon-quit:before {
  content: "\0057";
  font-size: $font-size-gamma;
  color: $color-text-beta;
}

@media (max-width: 768px) {
  .topbar ul li a {
    padding-bottom: 0;
    padding-top: 0;
  }

  .notification .dot {
    top: 10px;
    height: 7px;
    width: 7px;
  }

  .icon-notification:before,
  .icon-profile:before,
  .icon-quit:before,
  .icon-wallet:before {
    font-size: $font-size-delta;
  }

  .dropdown .dropdown-content {
    min-width: 153px;

    a {
      line-height: 25px;
    }
  }

  li .dropbtn,
  .dropdown-content {
    font-size: $font-size-beta;
  }

  .icon-profile:before {
    margin-right: 10px;
  }
}

@media (max-width: 520px) {
  .profile-name {
    display: none;
  }

  .icon-profile:before {
    margin-right: 0;
  }
}

@media (max-width: 410px) {
  .topbar ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .notification .dot {
    right: 10px;
  }
}

/*@media (max-width: 800px) {
  .topbar {
    top: 100%;
    transform: translateY(-100%);
    text-align: center;
  }
}*/

@media (max-width: 800px) {
  .topbar {
    display: none;
  }
}

