/* Colors */
$color-light: #ffffff;
$color-dark: #000000;
$color-background: #f0f0f0;
$color-border: #e3e3e3;
$color-background-sidebar-alpha: #191919;
$color-background-sidebar-beta: #282828;
$color-text-alpha: #a6a6a6;
$color-text-beta: #9c9c9c;
$color-text-gamma: #333333;
$color-text-delta: #999999;
$color-graph-alpha: #f58220;
$color-graph-beta: #56819f;
$color-graph-gamma: #04ae00;

/* Fonts */
$font-text: "Roboto", sans-serif;

/* Font sizes */
$font-size-alpha: 20px;
$font-size-beta: 18px;
$font-size-gamma: 16px;
$font-size-delta: 14px;
$font-size-epsilon: 13px;
$font-size-dzeta: 11px;

/* Font weight */
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

/* Border */
$border-style: 1px solid $color-border;

/* Transition */
$transition: all 0.5s;
