/* Colors */
$color-light: #ffffff;
$color-deep: #191919;
$color-dark: #000000;
$color-text: #9c9c9c;
$color-background: #e3e3e3;
$brand-main-color: #ff0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
