.main-checkbox {
  height: 160px;
  overflow-y: scroll;
  margin-top: 18px;
  margin-bottom: 18px;
  color: $color-dark;

  .checkbox-container {
    display: block;
    position: relative;
    padding: 12px 0 12px 54px;
    margin-right: 18px;
    cursor: pointer;
    font-size: $font-size-delta;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      background-color: $color-background;
      transition: $transition;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      border: $border-style;
      margin-top: 7px;
      margin-left: 18px;
      background-clip: $color-light;
    }
  }
}

.checkbox-container:hover .checkmark {
  background-color: $color-light;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: $color-graph-gamma;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 10px;
  height: 14px;
  border: solid $color-light;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
