.personal-input {
  font-size: $font-size-gamma;
  line-height: 42px;
  height: 40px;
  margin: 30px 15px;
  border: $border-style;
  border-radius: 3px;
}

#login_name {
  width: 250px;
  padding-left: 40px;
  background-image: url(/images/icons/login.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
}

#password {
  width: 250px;
  padding-left: 45px;
  background-image: url(/images/icons/password.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 24px;
}

#send_message {
  width: 500px;
  padding-left: 40px;
  background-image: url(/images/icons/message.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 17px;
}
